body{
  background: gray;

}

h1 {
  text-align: center;}


 .centrado{
  margin:10px auto;
 display:block;
    }


h2 {
  text-align: center;}
h3{
  text-align: right;}
h4{
  text-align: center;

}
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin: 5em;
    min-height: 2.5em;
    box-sizing: content-box;
    
}
.row{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    min-height: 2.5em;
    box-sizing: content-box;
    
}
.ctn{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}
.btn{
    border: 2px black solid;
    border-radius: 30px;
    font-style: normal;
    text-align: center;
    width: 90%;
    padding: 0.2em;
    margin:auto;
    
}
.btn:hover{
    width: 100%;
    cursor: pointer;
}
.whiteSpace{
    min-height:10vw;
    width: 100%;
    background: white;
}
.col-1 {
    width: 8.33%;
    min-height: 2.5em;

}
.col-2 {
    width: 16.66%;
    min-height: 2.5em;
}
.col-3 {
    width: 25%;
    min-height: 2.5em;
}
.col-4 {
    width: 33.33%;
    min-height: 2.5em;
}
.col-5 {
    width: 50%;
    min-height: 2.5em;
}
.col-6{
    width:50%;
    min-height: 2.5em;
    box-sizing: content-box;
}
.col-7 {
    width: 58.33%;
    min-height: 2.5em;
}
.col-8 {
    width: 66.66%;
    min-height: 2.5em;
}
.col-9 {
    width: 75%;
    min-height: 2.5em;
}
.col-10 {
    width: 83.33%;
    min-height: 2.5em;
}
.col-11 {
    width: 91.66%;
    min-height: 2.5em;
}
.col-12 {
    width: 100%;
    min-height: 2.5em;
}

.boton-personalizado-5 {
text-decoration:none;
font-weight: 600;
font-size: 20px;
color:#000000;
padding-top:15px;
padding-bottom:15px;
padding-left:40px;
padding-right:40px;
background-color: transparent;
border-width: 3px;
border-style: solid;
border-color: #000000;
}