extends layout.pug 

block content   
    .col-12 
        h1 Bienvenido a la API refeven del grupo exito.
    .col-12 
        p Aqui encontraran metodos para obtener, actulizar y eliminar información, siempre y cuando estes <strong>registrados</strong>
