extends layout.pug 

block content
        .col-3: h3 Consultas 
        .container
            .col-5 
                ul(action="",name="busqueda")
                    input#text_search(type="text", name="input-group-text")
            | &nbsp
            i.btn.btn-primary(id="buscar",onclick="consultar()") Buscar 
        .container
            table.table.table-striped.table-condensed.table-bordered
                thead
                    tr 
                        th Nombre 
                        th Cantidad 
                        th Ubicaci&oacute;n 
                        th presentaci&oacute;n
                        th Valor kilo 
                        th Proveedor 
                        th lote 
                        th fecha elaboraci&oacute;n
                        th fecha vencimiento 
                        th Estado 
                        th Editar 
                        th Eliminar
                tbody#consulta
                    
        
        script(src="/main")
