extends layout.pug 


block content
		nav.navbar.navbar-expand-lg.navbar-light.bg-light
			a.navbar-brand REFEVEN
			ul.navbar-nav.float-right
				li.nav-item
					button.btn.btn-primary(type='button') Crear nuevo registro
					| &nbsp
				li.nav-item
					button.btn.btn-primary(type='button') 		Consultas
					| &nbsp
				li.nav-item
					button.btn.btn-primary(type='button') Cerrar Cesi&oacute;n
					| &nbsp

		table.table(width='100%', cellspacing='0', cellpadding='0', border='0', bgcolor='#F2F2F2')
			
			tr
				th  Nombre 
				th  Presentaci&oacute;n 
				th  Cantidad 
				th  Calidad extra 
				th  Calidad primera 
				th  Valor kilo 
				th  Lote 
				th  Fecha elaboraci&oacute;n 
				th  Fecha vencimiento 
				th  Ubicaci&oacute;n 
				th  Estado 
				th  Editar 
				th  Eliminar 
		tbody   
			tr
				td   d   
				td  s
				td  s
				td  s
				td  s
				td  s
				td  s
				td  s
				td  s
				td  s
				td  s
				td  s
				button.btn.btn-primary(type='button') Editar
				td
				button.btn.btn-primary(type='button') Eliminar
		script(src="/homejs")