extends layout.pug 


block content
		
		.col-3: h3 Home 
		.container
			table.table.table-striped.table-condensed.table-bordered
				thead
					th  Nombre 
					th  Cantidad 
					th  Ubicaci&oacute;n
					th  Presentaci&oacute;n
					th  Valor kilo
					th  Proveedor
					th  Lote 
					th  Fecha elaboraci&oacute;n
					th Fecha vencimiento
					th  Estado 
					th  Editar 
					th  Eliminar 
					tr
				tbody#tabla
				

