doctype html
html
  head
  
    meta(charset='utf-8')
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css', rel='stylesheet', integrity='sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC', crossorigin='anonymous')
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js', integrity='sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM', crossorigin='anonymous')
    link(rel='stylesheet', href='./css/main.css')
    link(rel='icon', href='./img/favicon.svg')
    script(src='js/main.js')
  body
    nav.navbar.navbar-light.bg-light
      .container-fluid
        h1.navbar-brand Registro Nuevo
        form.d-flex
          button.btn.btn-primary(type='button') Inicio
    .container-md
      .card-body
        form(action='Home.html', method='get')
          .mb-3
          label.form-label(for='Vencimiento') Fecha de Vencimineto: 
          input.form-control(type='text', name='Vencimineto', minlength='1')
          br
          label.form-label(for='Cantidad') Cantidad: 
          input.form-control(type='text', name='Cantidad', minlength='6')
          br
          label.form-label(for='Ubicacion') Ubicaci&oacute;n: 
          input.form-control(type='text', name='Ubicacion', minlength='6')
          br
          label.form-label(for='Observaciones') Observaciones:
          input.form-control(type='text', name='Observaciones', minlength='10')
          br
      .col-4
    .container
      .d-grid.gap-2.col-6.mx-auto
        .btn.btn-primary(type='button')  Registrar
        .btn.btn-primary(type='button')  Cancelar